* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  body{
      font-size: 12px;
      color: #333;
      font-family: Arial, Helvetica, sans-serif;
  }
  .g-bd {
    width: 1100px;
    min-height: 750px;
    margin: 0 auto;
    background: #fff;
}
.g-bd-hasFooter {
    padding-bottom: 160px;
    min-height: calc(100% - 73px - 160px);
}
.m-bread {
    min-height: 30px;
}
.m-bread {
    margin-bottom: 15px;
    border-bottom: 1px solid #333;
}
.m-bread .block {
    padding: 30px 0 19px 0;
    font-size: 18px;
    font-weight: 600;
}
.m-bread .block {
    padding: 30px 0 19px 0;
    font-size: 18px;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: #333;
}
.m-bread .pointer {
    font-size: 16px;
    color: #999;
}
.m-bread i {
    position: relative;
    top: 7px;
    display: inline-block;
    width: 16px;
    height: 26px;
    margin: 0 4px 0 8px;
    background: url(../img/productImg/ar.png) no-repeat left center;
}
.m-bread .share {
    margin-top: 11px;
    background: url(../img/productImg/share.png) no-repeat 0 2px;
    font-size: 16px;
    text-indent: 27px;
    color: #666;
}
.f-fr {
    float: right;
}
.g-bd .ma {
    width: 100%;
    margin: 0;
}
.n-detail {
    padding-top: 5px;
    min-height: 600px;
}
.f-fl {
    float: left;
}
.n-display .pic {
    box-sizing: border-box;
    width: 440px;
    height: 440px;
}
.f-pr {
    position: relative;
    zoom: 1;
}
.n-display .pic .imgBox {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
}
.n-display .pic .img1 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.n-display .pic .img1.active{
    opacity: 1;
}
.n-display .smnav {
    position: relative;
    z-index: 1;
    zoom: 1;
    width: 440px;
    height: 80px;
    margin-top: 10px;
    overflow: hidden;
}
.n-display ul {
    width: 3000px;
    transition: 0.3s;
}
.n-display li.z-sel, .n-display li:hover {
    border: 2px solid #d33a31;
}
.n-display li {
    box-sizing: border-box;
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    background: #f9f9f9;
    border: 2px solid #fff;
}
.n-display li img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.n-info {
    width: 580px;
}
.f-fr {
    float: right;
}
.n-info .basic {
    position: relative;
}
.n-info h2 {
    line-height: 34px;
    color: #333;
    font-size: 24px;
}
.f-ff2 {
    font-family: quote, "Microsoft Yahei", simsun, Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.n-info .basic .sellpoint {
    font-size: 14px;
    margin-top: 8px;
    color: #999;
}
.n-info .basic .price {
    margin: 20px 0;
    font-size: 14px;
}
.n-info .basic .price .rmb {
    font-size: 30px;
    margin-right: 3px;
    color: #d33a31;
}
.n-info .price em {
    margin-right: 4px;
    font-size: 30px;
    color: #d33a31;
}
.n-info .price .dis {
    margin-left: 16px;
    font-size: 16px;
    color: #999;
    text-decoration: line-through;
}
.n-info .basic p sub {
    position: relative;
    top: -5px;
    font-size: 14px;
    color: #cb3b3b;
}
.n-info .price .dis {
    margin-left: 16px;
    font-size: 16px;
    color: #999;
    text-decoration: line-through;
}
.m-coupons {
    margin: 16px -16px 0px -8px;
    border: 1px solid #fff;
    padding: 0 7px;
}
.m-coupons .title {
    height: 32px;
    overflow: hidden;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 30px;
    color: #999;
}
.m-coupons ul {
    position: absolute;
    z-index: 99;
    left: 67px;
    height: 30px;
    overflow: hidden;
    top: 0;
}
.m-coupons ul .lst {
    border-bottom: 1px solid #f8e2e0;
}
.m-coupons ul li {
    width: 518px;
    height: 28px;
    line-height: 28px;
    background-color: #fdf5f4;
    border: 1px solid #f8e2e0;
    border-bottom: none;
}
.m-coupons ul li .label {
    padding: 0 3px;
    border: 1px solid #d33a31;
    color: #d33a31;
}
.m-coupons ul li span, .m-coupons ul li a {
    margin-left: 8px;
}
.m-coupons ul li span, .m-coupons ul li a {
    margin-left: 8px;
}
.s-fcLink {
    color: #328ad4;
}
.m-coupons ul li span, .m-coupons ul li a {
    margin-left: 8px;
}
.n-info .select {
    margin: 16px -16px 0 -8px;
    border: 1px solid #fff;
    padding: 0 7px;
    width: 604px;
    height: 34px;
    margin-top: 50px;
}
.n-info .select .title {
    width: 30px;
    overflow: hidden;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 30px;
    color: #999;
    
}
.n-info .select ul {
    overflow: hidden;
    width: 510px;
    float: left;
    margin-bottom: -8px;
}
.n-info .select-sku li {
    font-size: 12px;
}
.n-info .select-time li {
    box-sizing: border-box;
    height: 30px;
    margin-bottom: 10px;
    line-height: 27px;
    text-align: center;
    font-size: 12px;
}
.n-info .select li {
    float: left;
    height: 32px;
    margin-right: 10px;
    padding: 0 20px;
    border: 1px solid #e5e5e5;
    text-align: center;
    background: #fff;
    cursor: pointer;
}
.n-info .select li:hover{
    border: 1px solid black;
}
.n-info .count {
    margin-top: 17px;
    overflow: hidden;
}
.n-info .count .number {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 30px;
    color: #999;
}
.n-info .count .u-counter {
    float: left;
}
.u-counter {
    width: 132px;
    height: 30px;
    border: 1px solid #e5e5e5;
    border-left: none;
}
.u-counter .btn {
    float: left;
    width: 34px;
    height: 30px;
    border-left: 1px solid #e5e5e5;
}
.u-icn {
    
    vertical-align: middle;
    overflow: hidden;
    background: url(../img/productImg/icon.png) no-repeat 0 9999px;
}
.u-icn-27 {
    width: 28px;
    height: 28px;
    background-position: -38px -534px;
}
.u-counter .btn i {
    position: relative;
    left: 3px;
    top: 1px;
    display: block;
    width: 100%;
    height: 100%;
}
.u-counter .btn-dis i {
    opacity: 0.3;
    
}
.u-counter .tot {
    float: left;
    width: 59px;
    height: 30px;
    border-left: 1px solid #e5e5e5;
}
.u-counter .tot input {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.f-fs1 {
    font-size: 14px;
}
.u-icn-28 {
    width: 28px;
    height: 28px;
    background-position: 0px -534px;
}
.m-services {
    position: relative;
    margin-top: 20px;
}
.m-services p {
    overflow: hidden;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    height: 30px;
    line-height: 30px;
    margin-right: 30px;
    color: #999;
}
.m-services .cnt {
    cursor: pointer;
    margin-left: 69px;
}
.m-services .cnt a {
    display: inline-block;
    position: relative;
    line-height: 20px;
    margin-right: 28px;
    color: #666;
}
.m-services .cnt a:after {
    content: "";
    position: absolute;
    top: 8px;
    left: -8px;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #d33a31;
}
.n-info .buyorjoin a {
    position: relative;
}
.n-info .u-btn-white {
    box-sizing: border-box;
    line-height: 47px;
}
.n-info .u-btn-white {
    width: 170px;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    font-size: 18px;
}

.u-btn-white {
    background-color: white;
}
.u-btn {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 155px;
    text-align: center;
    color: white;
}
.u-btn-white {
    box-sizing: border-box;
    border: 2px solid #d33a31;
    color: #d33a31;
    font-size: 18px;
}
.f-mgr10 {
    margin-right: 10px;
}
.n-info .u-btn-red-1 {
    width: 188px;
}
.n-info .u-btn-red, .n-info .u-btn-white {
    width: 170px;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    font-size: 18px;
}
.u-btn-red {
    background-color: #d33a31;
}
.u-icn {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    /* background: url(../img/productImg/icon.png) no-repeat 0 9999px; */
}
.u-btn-red i {
    margin: -4px 6px 0 0;
    vertical-align: middle;
}
.u-icn-7 {
    width: 30px;
    height: 22px;
    background-position: -80px -324px;
}
.m-pro-wrap {
    margin-top: 70px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
}
.m-pro-wrap .title {
    height: 40px;
    line-height: 40px;
    background: #f4f4f4;
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
}
.m-pro-wrap .title-list {
    padding-left: 20px;
}
.m-pro-wrap .title-list li {
    float: left;
    width: 90px;
    height: 78px;
    line-height: 78px;
    font-size: 16px;
    color: #999;
    cursor: pointer;
}
.m-pro-wrap .title-list li.z-slt {
    color: #333;
}
.m-pro-wrap .title-list li:after {
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    position: relative;
    top: -40px;
    left: 64px;
    background-color: #cecece;
}
.m-pro-wrap .promotion-plus {
    position: absolute;
    top: 80px;
    left: 218px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/productImg/promotion_plus.png) no-repeat;
}
.m-pro-wrap .card-list {
    padding-left: 20px;
    width: 1098px;
    height: 280px;
    margin-top: 80px;
}

.m-pro-wrap .card-list li.first {
    margin-right: 60px;
}
.m-pro-wrap .card-list li {
    float: left;
    position: relative;
    height: 280px;
    width: 180px;
    margin-right: 16px;
}
.m-pro-wrap .card-list li img {
    width: 180px;
    background: #f9f9f9;
    cursor: pointer;
}

.m-pro-wrap .card-list li.first .name {
    padding: 0;
    text-align: center;
}
.m-pro-wrap .card-list li .name {
    padding-left: 30px;
    margin-top: 4px;
    cursor: pointer;
}
.f-thide2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.m-pro-wrap .card-list li.first .price {
    padding-left: 0;
}
.m-pro-wrap .card-list li.first .price {
    text-align: center;
}
.m-pro-wrap .card-list li .price {
    margin-top: 4px;
    padding-left: 30px;
    text-align: left;
}
.m-pro-wrap .card-list li .spec {
    margin-right: 10px;
    font-size: 16px;
    color: #d33a31;
}
.m-pro-wrap .card-list li.first .price {
    text-align: center;
}
.m-pro-wrap .card-list li del {
    color: #999;
}
user agent stylesheet
del {
    text-decoration: line-through;
}
.check .z-checked {
    background: url(../img/productImg/gou.png);
}
.check .checkbox {
    position: absolute;
    top: 188px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    cursor: pointer;
}
.m-pro-wrap .card-list .total {
    float: right;
    width: 226px;
    margin-right: 0;
    padding-right: 24px;
}
.m-pro-wrap .card-list .total .line {
    position: absolute;
    left: 12px;
    width: 1px;
    height: 220px;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}
.m-pro-wrap .card-list .total .inner {
    margin-top: 20px;
    padding-left: 42px;
}
.m-pro-wrap .card-list .total .msg {
    font-size: 15px;
    color: #b5b5b5;
}
.s-fc6, a.s-fc6:hover {
    color: #d33a31;
}
.m-pro-wrap .card-list .total .spe-price {
    margin-top: 36px;
}
.m-pro-wrap .card-list .total .spe-price .tit {
    color: #333;
    font-size: 15px;
    margin-right: 6px;
}
.m-pro-wrap .card-list .total .spe-price .price {
    color: #d33a31;
    font-size: 24px;
    padding-left: 0;
}
em, i {
    font-style: normal;
    text-align: left;
    font-size: inherit;
}
.m-pro-wrap .card-list .total .discount-price {
    color: #b5b5b5;
    margin-top: 6px;
}
.m-pro-wrap .card-list .total .btn {
    width: 180px;
    height: 50px;
    margin-top: 16px;
    line-height: 50px;
    background-color: #d33a31;
    color: #fff;
    font-size: 18px;
    display: block;
    text-align: center;
    text-decoration: none;
}
.n-content {
    overflow: hidden;
    margin-top: 66px;
}
.n-describe, .n-content-left {
    float: left;
    width: 700px;
}
.n-content-left h2, .n-describe h2, .n-fans h2 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    font-size: 22px;
}
.n-content-left h2 {
    height: 30px;
    line-height: 30px;
    padding-bottom: 17px;
}
.n-describe, .n-content-left {
    float: left;
    width: 700px;
}
.n-describe p {
    font-size: 14px;
    line-height: 18px;
    padding: 5px 0;
    color: #666;
}
.n-describe img {
    display: block;
    width: 100%;
    height: auto;
}
.n-hotrecommend {
    float: right;
    width: 340px;
}
.n-hotrecommend h2 {
    height: 30px;
    line-height: 30px;
    padding-bottom: 17px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    font-size: 22px;
}
.f-ff2 {
    font-family: quote, "Microsoft Yahei", simsun, Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.m-product .list {
    margin-top: 30px;
    width: 100%;
    height: auto;
}
.n-hotrecommend li {
    height: 100px;
    margin-bottom: 40px;
}
.m-product .list li {
    float: left;
    position: relative;
    width: 263px;
    height: 382px;
    padding-right: 16px;
}
.m-product .list li {
    width: 100%;
    height: 100px;
}
.m-product div {
    overflow: hidden;
}
.f-blk, .f-img, .f-link {
    display: block;
    width: 100%;
    height: 100%;
}
.m-product .cover {
    width: 263px;
    height: 263px;
    background-color: #f9f9f9;
    cursor: pointer;
}
.n-hotrecommend .cover {
    float: left;
    height: 100px;
    width: 100px;
}
.n-hotrecommend .cover img {
    display: block;
    height: 100%;
    width: 100%;
}
.m-product div {
    overflow: hidden;
}
.f-tc {
    text-align: center;
}
.n-hotrecommend .cnt {
    margin-left: 110px;
    height: 100px;
}
.f-thide2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.m-product .cnt h3 {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #333;
}
.m-product .cnt h3 {
    line-height: 24px;
    margin-top: 10px;
    text-align: left;
    white-space: normal !important;
}
.m-product .tag-red {
    top: 0;
}
.m-product .tag-red {
    border: 1px solid #d74d45;
}
.m-product .tag {
    overflow: hidden;
    box-sizing: border-box;
    line-height: 19px;
    padding: 0 3px;
    border-radius: 1px;
    color: #d74d45;
    font-size: 12px;
}
.m-product .cover img {
    padding: 0;
}
.n-hotrecommend .cover img {
    display: block;
    height: 100%;
    width: 100%;
}
.m-product .cnt {
    margin-top: 0;
}
.n-hotrecommend .cnt {
    margin-left: 110px;
    height: 100px;
}
.n-hotrecommend .cnt p {
    height: 24px;
    line-height: 24px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: bold;
}
.m-product .cnt p {
    padding-top: 4px;
}
.n-detail .n-hotrecommend .cnt p {
    font-weight: 400;
}
.m-product .cnt .txt {
    text-align: left;
}
.m-product .cnt .txt {
    font-size: 16px;
    color: #d33a31;
}
.n-display .pic .smallmask {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    height: 220px;
    cursor: move;
    background: url(../img/productImg/s-mask.png) no-repeat !important;
}
.n-display .pic .bigimgbox {
    overflow: hidden;
    z-index: 999;
    display: none;
    position: absolute;
    width: 530px;
    height: 530px;
    top: 0;
    left: 450px;
    background: #f9f9f9;
}
.n-display .pic .bigimgbox img {
    position: absolute;
    left: 0;
    top: 0;
    width: 1060px;
    height: 1060px;
}